<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <style>
        div.feed{
            display: flex;
            padding-left:10px;
            padding-right:10px;
        }
        .table-td{
            background-color: lightgrey;
            color: darkred;
        }
        .post-body{
            background-color: grey;
        }
    </style>
    <h1>Welcome to the Home Page</h1>
    
    <div class="feed">
        <table>
        {% for post in posts %}
        <tr>
            <td style="border: solid 2px black">
                <table>
                    <tr><td class="table-td"><p>{{post.user_name}}</p></td></tr>
                    <tr><td class="table-td">
                        <p>Activity: {{post.content}}</p>
                        <p>Reps/Distance: {{post.details['reps']}}</p>
                        <p>Additional Comments: {{post.details['comments']}}</p>

                    </td></tr>
                    
                </table>


            </td>
        <tr>
        {% endfor %}
        <table>
    </div>
    <div><p></p></div>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
