<DOCTYPE html>
    <html>
<head>
    <meta charset="utf-11">
    <title>Login</title>
        <style>
            .center {
                text-align: center;
                color: #333333;
                font-family: verdana;
                background-color:#fd8967;
                padding: 26px;
                font-size: 26px;
            }
        </style>
</head>
<body link = "blue" alink = "blue" vlink = "blue">
     <style>
        body {
            background-color:#fd8967; 
        }
      </style>
    <h1 class = "center">Login</h1>
    <form method="post">
        <div style = "text-align:center"><input type="text" placeholder="Username" name="username"></div>
        <p></p>
        <div style = "text-align:center"><input type="password" placeholder="Password" name ='password'></div>
        <p></p>
        <div style = "text-align:center"><input type="submit" value='Login' id="Login"></div>
        <p></p>
        <div style = "text-align:center">New User? <a style = "text-decoration:none" href = "register">Register Now</a></div>
    </form>
</body>
</html>
</DOCTYPE>