<DOCTYPE html>
    <html>
<head>
    
</head>
<body link = "blue" alink = "blue" vlink = "blue">
    <h1><div style = "text-align:center">Login</div></h1>
    <form method="post">
        <div style = "text-align:center"><input type="text" placeholder="Username" id="username"></div>
        <p></p>
        <div style = "text-align:center"><input type="password" placeholder="Password" id ='password'></div>
        <p></p>
        <div style = "text-align:center"><input type="submit" value='Login' id="Login"></div>
        <p></p>
        <div style = "text-align:center">New User? <a style = "text-decoration:none" href = "register">Register Now</a></div>
    </form>
</body>
</html>
</DOCTYPE>