<DOCTYPE html>
    <html>
<head>
    <meta charset="utf-11">
    <title>Login</title>
        <style>
            .center {
                text-align: center;
                color: #333333;
                font-family: verdana;
                background-color:#fd8967;
                padding: 26px;
                font-size: 26px;
            }
        </style>
</head>
<body link = "blue" alink = "blue" vlink = "blue">
     <style>
        body {
            background-color:#fd8967; 
        }
      </style>
    <h1 class = "center">New Post</h1>
    <form method="post" action="/post">
        <div style = "text-align:center"><input type="text" placeholder="Post Title" name="title"></div>
        <p></p>
        <div style = "text-align:center"><input type="test" placeholder="Workout Name" name ='wrkt_name'></div>
        <p></p>
        <div style = "text-align:center"><input type="text" placeholder="Reps/Distance" name ='reps'></div>
        <p></p>
        <div style = "text-align:center"><input type="text" placeholder="Comments" name ='comments'></div>
        <p></p>
        <input type="submit" value='Post' id="Post">

    </form>
</body>
</html>
</DOCTYPE>