<!DOCTYPE html>
<html>
<head>
    Register
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="/register">
        <input type="text" placeholder="Username" name="username">
        <div></div>
        <p></p>
        <input type="password" placeholder="Password" name ='password'>
        <div><p></p></div>
        <input type="password" placeholder="Confirm Password" name="confirm">
        <div><p></p></div>
        <select id="gyms" name="gym">
            <option value="Busch">Busch</option>
            <option value="Livi">Livi</option>
            <option value="College Ave">College Ave</option>
            <option value="Easton">Easton</option>
            <option value="Cook Doug">Cook Doug</option>
            <option value="Verve">Verve</option>
            <option value="Crunch">Crunch</option>
        </select>
          
        <input type="submit" value='Register' name="register">
    </form>
</body>
</html>
</DOCTYPE>