<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-11">
    <title>Register</title>
<style>
  .center {
    text-align: center;
    color: #333333;
    font-family: verdana;
    background-color:#e6f2ff;
    padding: 26px;
    font-size: 26px;
  }
</style>
</head>
<body>
  <style>

    body {
      background-color:#e6f2ff; 
    }
    


  </style>
    <h1 class="center">Sign up Now!</h1>
    <form method="post">
        <div style = "text-align:center"> <input type="text" placeholder="Username" name="username"></div>
        <p></p>
        <div style = "text-align:center"><input type="password" placeholder="Password" name ='password'></div>
        <div><p></p></div>
        <input type="password" placeholder="Confirm Password" name="confirm">
        <div><p></p></div>
        <select id="gyms" name="gym">
            <option value="Busch">Busch</option>
            <option value="Livi">Livi</option>
            <option value="College Ave">College Ave</option>
            <option value="Easton">Easton</option>
            <option value="Cook Doug">Cook Doug</option>
            <option value="Verve">Verve</option>
            <option value="Crunch">Crunch</option>
        </select>
          
        <input type="submit" value='Register' name="register">
    </form>

</body>
</html>
</DOCTYPE>