<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
<style>
  .center {
    text-align: center;
    color: black;
    font-family: verdana;
    background-color:#fd8967;
    padding: 30px;
    font-size: 24px;
  }
</style>
</head>
<body>
  <style>

    body {
      background-color:#fd8967; 
    }
    
    #image {
      position: absolute;
      top: 25%;
      left: 10%; 
    }
    

  </style>
    <h1 class="center">Sign up Now!</h1>
    <form method="post" action="/register">
        <div style = "text-align:center"> <input type="text" placeholder="Username" name="username" required></div>
        <p></p>
        <div style = "text-align:center"><input type="password" placeholder="Password" name ='password' required></div>
        <div><p></p></div>
        <div style = "text-align:center"><input type="password" placeholder="Confirm Password" name="confirm" required></div>
        <p></p>
        <img src="rutgersimg.png" alt="" width="300" height="200" title="Rutgers Logo">
      </form>
      <div style = "text-align:center"> 
        <div><p></p></div>
        <select id="gyms" name="gym" required>
            <option value="Busch">Busch</option>
            <option value="Livi">Livi</option>
            <option value="College Ave">College Ave</option>
            <option value="Easton">Easton</option>
            <option value="Cook Doug">Cook Doug</option>
            <option value="Verve">Verve</option>
            <option value="Crunch">Crunch</option>
        </select>
          
        <input type="submit" value='Register' name="register">
      </div style>
      </form>


</body>
</html>
</DOCTYPE>